<div class="central-advert">
  test
</div>

<div class="container mt-5">
  <h1 class="mb-4">Pages#home</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card text-center mb-4">
        <div class="card-body">
          <h5 class="card-title">List Your Gear</h5>
          <%= link_to 'List Your Gear', new_gear_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center mb-4">
        <div class="card-body">
          <h5 class="card-title">View All Gears</h5>
          <%= link_to 'View All Gears', gears_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>

  <div class="css-test">
    Jurij test
  </div>

  <p>Find me in app/views/pages/home.html.erb</p>
</div>
