<div class="central-advert">
  <div class="page-content">
    <div class="legenda">
      <p>
        Welcome to BikeShare !
        Discover the freedom of cycling with BikeShare!
      </p>
      <p>Whether you're looking to rent a bike for a day of exploring or
         list your own bike for extra income, our platform offers a seamless
        experience for all cycling enthusiasts.
      </p>
    </div>

    <div class="gear-content">
      <div class="gear-box">
        <a class="custom-btn" href="/gears/new">List Your Bike</a>
      </div>

      <div class="gear-box">
        <a class="custom-btn" href="/gears">All Bikes</a>
      </div>

    </div>
  </div>
</div>
