<div class="central-advert">
  <div class="page-content">
    <div class="legenda">
      <p>
        Welcome to BikeShare !
        Discover the freedom of cycling with BikeShare!
      </p>
      <p>Whether you're looking to rent a bike for a day of exploring or
         list your own bike for extra income, our platform offers a seamless
        experience for all cycling enthusiasts.
      </p>
    </div>

    <!-- two buttons not usible -->
    <!--
    <div class="gear-content">
      <div class="gear-box">
        <a class="custom-btn" href="/gears/new">List Your Bike</a>
      </div>

      <div class="gear-box">
        <a class="custom-btn" href="/gears">All Bikes</a>
      </div>
    </div>
    -->

    <div class="best-deals">
      Explore our best deals
    </div>
    <hr />
    <div class="row">
        <% @gears.each do |gear| %>
        <div class="col-md-4">
          <div class="card mb-4 rounded-4 adver-shadow">

              <% if gear.photo.present? %>
                <div class="bike-view-frame">
                  <%= cl_image_tag(gear.photo.key, class: "booking-view") %>
                </div>
              <%else%>
                <div class="bike-image"></div>
              <%end%>

              <!-- Verification or user owner -->
              <% if user_signed_in? && gear.owned_by?(current_user) %>
              <div class="msg-at-image">
                <span class="border border-2 border-success fs-4 text-success ps-2 pe-2 rounded-4" style="background-color: #ffffff;">Your Item</span>
              </div>
              <% end %>

              <div class="card-body text-center pb-4">
                <p class="card-title fw-bold fs-4 mb-4"><%= gear.title %></p> <hr />
                <p class="card-text fs-5 mb-4">Price per day: <%= gear.price_per_day %>$</p>
                <%= link_to 'View Details', gear_path(gear), class: 'std-btn' %>
              </div>

          </div>
        </div>
        <% end %>
      </div>
      <hr /><br />
    </div>
  </div>
</div>
