<div class="central-advert">
  <div class="page-content">
    <div class="legenda">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Curabitur pretium tincidunt lacus. Nulla gravida orci a odio.
      </p>
    </div>

    <div class="gear-content">
      <div class="gear-box">
        <a class="custom-btn" href="/gears/new">List Your Gear</a>
      </div>

      <div class="gear-box">
        <a class="custom-btn" href="/gears">View All Gears</a>
      </div>

    </div>
  </div>
</div>


<!--
<div class="container mt-5">
  <h1 class="mb-4">Pages#home</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card text-center mb-4">
        <div class="card-body">
          <h5 class="card-title">List Your Gear</h5>
          <%= link_to 'List Your Gear', new_gear_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center mb-4">
        <div class="card-body">
          <h5 class="card-title">View All Gears</h5>
          <%= link_to 'View All Gears', gears_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>

  <p>Find me in app/views/pages/home.html.erb</p>
</div>
-->
