<div class="content-box-new-gear">
  <div class="page-content">
    <div class="new-gear-container">
      <div class="login-form">
        <p>Edit Bike</p>
          <hr />

            <%= render 'form', button_text: 'Update Bike', gear: @gear %>

      </div>
    </div>
  </div>
</div>
