<div class="content-box-new-gear">
  <div class="page-content">
    <div class="new-gear-container">
      <div class="login-form">
        <p>List Your Bike</p>
          <hr />

<!--
<h1>New Gear</h1>
-->


        <%= render 'form', button_text: 'Create Listing', gear: @gear%>

      </div>
    </div>
  </div>
</div>
