/* Home Page header */

body {
  background-color: #f0f6f6;
}

.custom_header {
  width: 100%;
  background-color: #a1b7b291;
  /* border: 1px solid red;  */
}

.custom_header .custom_content {
  margin: auto;
  width: 1280px;
  height: 92px;
}

.top-header {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom_header .logo {
  display: inline-block;
  width: 72px;
  height: 72px;
}

.custom_header .login {
  display: inline-block;
  width: 72px;
  height: 72px;
  border: 1px solid gray;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: gray;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4.5px;
  transition: 0.7s;
}

.login-btn:hover {
  text-decoration: underline;
  color: rgb(0, 134, 251);
}

/* Home Page nav bar */

.custom-navbar {
  width: 100%;
  height: 32px;
  background-color: #d3d6d7;
}

.custom-navbar > .navbar-content {
  margin: auto;
  width: 1280px;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-content > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-content > ul > li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-content > ul > li > a {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: gray;
  transition: 0.7s;
}

.navbar-content > ul > li > a:hover {
  color: rgb(0, 134, 251);
}

/* Home page body */
.central-advert {
  width: 100%;
  height: 100vh;
  background-image: url("main_image_home_page.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.page-content {
  margin: auto;
  width: 1280px;
  height: 100vh; /* debugging option will be removed after finish */
  border: none;
  /* filter: blur(4px); */
}

.page-content > .legenda {
  display: block;
  width: 100%;
  font-size: 26px;
  padding: 150px 30px 0 30px;
}

.page-content > .legenda > p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  color: #000000;
  text-shadow: 0 0 20px#000000;
}

.page-content > .gear-content {
  display: flex;
  justify-content: space-around;
}

.page-content .gear-box {
  display: flex;
  justify-content: center;
  width: 30%;
  margin-top: 80px;
}

.custom-btn {
  display: inline-block;
  padding: 8px 15px 8px 15px;
  border: 4px solid #bdcbc1;
  border-radius: 8px;
  background-color: #c1cec347;
  box-shadow: 4px 5px 13px #b9c6be;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: 0.7s;
}

.custom-btn:hover {
  background-color: #c1cec3b8;
  border-color: #6d7c7d;
  box-shadow: -4px -5px 26px #6d7c7d;
  /* font-weight: bold; */
}
